@CHARSET "UTF-8";

h1 {
	color: red;
	
}
		
div {
		border: 2px blue solid;
}

.izda {
	width: 200px;
   height: 425px;
	float: left;
}

.dcha {
	width: 780px;
   height: 425px;
	float:right;
}
.pie {
	clear: both;
}

img {
	border: 0px;
	float: left;
}

.negrita {
	font-weight: bold;
	text-decoration: underline;
	font-size: 20px;
}

