@CHARSET "UTF-8";

.izda {
	width: 200px;
}
.izda ul {
   list-style-type : none ;
   margin : 0px;
   padding : 0px;
   width : 200px;
   font-family : Arial , sans-serif ;
   font-size : 11pt;
   border: 6px solid black;
   border-top: 4px solid #aaa;
   border-left: 4px solid #aaa;
}
/*.menu ul li {
   background-color : #666;
}
*/
.izda ul li a {
   color: #ccc;
   text-decoration : none ;
   display : block ;
   padding : 10px 10px 10px 20px;
   background-color : #666;
   border-bottom: 1px solid #aaa;
   border-top: 1px solid #000;
}
.izda ul li a:hover {
   background: #333;
   border-bottom: 1px solid #000;
   border-top: 1px solid #aaa;
   color: #fff;
   text-decoration: underline;
   padding-left: 30px;
}
