body {
	font-family: Verdana;
	font-size: 7pt;
}
A.cool {
    color:blue;
    text-decoration:none;
    font-weight: normal
}
A.cool:Visited {color:blue}
A.cool:Active {color:blue}
A.cool:Hover {color:red}.style1 {color: #0000FF}
.tablehead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 700;
	color: #000000;
	text-align: center;
}
.smalltxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
}
.new {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FF0000;
	font-style: italic;
	font-weight: 700;
	text-align: center;
}.medtxt {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
.tblframe {
	border: 1px solid #0000FF;
}
.pt9 {font-size: 9pt}
.pt8 {font-size: 8pt}
.pt10 {
	font-size: 10pt;
	font-weight: bold;
}
